<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="\static\css\style.css">
</head>
<body>
    <div class="menu">
        <div class="avatar-container">
            <div class="avatar"></div>
        </div>
        <ul>
            <li><a href="#">Página 1</a></li>
            <li><a href="#">Página 2</a></li>
            <li><a href="#">Página 3</a></li>
            <li><a href="#">Página 4</a></li>
            <li><a href="#">Página 5</a></li>
            <li><a href="#" id="logout">Sair</a></li>
        </ul>
    </div>
    <div class="conteudo">
        <h1>Bem-vindo!</h1>
        <p>Você está logado e pode ver o conteúdo exclusivo desta página.</p>
    </div>
    <div class="modal-background" id="modal">
        <div class="modal">
            <p>Deseja mesmo sair?</p>
            <button id="cancelar">Cancelar</button>
            <button id="confirmar">Sair</button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
