<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="\static\css\esq-senha.css">
  <title>Recuperar a senha</title>
</head>

<body>
    <div class="main-login">
  
   <!--------------------------/Card Sobreposto do Login/-------------------------->
      <div class=" right-login">
        <h1>Esqueceu a senha? Tudo bem! <br> Complete as informações a seguir</h1>
          <div class="cadastro">
            <div class="cds"><a href="http://127.0.0.1:5500/index.html">Login</a></div>
            <div class="csd"><a href="#">Cadastrar-se</a></div> 
          </div>
        <div class="card-login">
          <h1>RECUPERAÇÃO</h1>
           <!--/E-mail/-->
          <form class="textfield">
          <!--/Senha/-->
            <label for="senha">Nova senha</label>
            <input type="password" id="senha" required>
            <label for="senha">Confirmar nova senha</label>
            <input type="password" id="senha" required>
           </form>
      <div>
  
   <!--------------------------------/Botão Login/--------------------------------->
          <a href="http://127.0.0.1:5500/index.html" class="recuperar">Recuperar</a>
          <!-- <button type="submit" class="bnt-login">Login</button> -->
        </div>
      </div>
    </div>

    <script src="script.js"></script>
  </body>
  
  </html>