<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="\static\css\style.css">
  <title>Login</title>
</head>

<body>
  <div class="main-login">

 <!--------------------------/Card Sobreposto do Login/-------------------------->
      <div class=" right-login">
         <!--------------------------/Imagem e Titulo do Login/-------------------------->
      <div class="left-login">
        <h1>Faça Login e descubra o que podemos fazer por você</h1>
      </div>
      <div class="card-login">
        <h1>LOGIN</h1>
         <!--/E-mail/-->
        <form class="textfield">
          <label for="email">E-Mail / Usuário</label>
          <input type="email" id="email" required>
        <!--/Senha/-->
          <label for="senha">Senha</label>
          <input type="password" id="senha" required>
         </form>
        <div>

 <!------------------------------/Esqueceu a Senha/------------------------------>
          <div class="Esqueceu-Senha">
          <a href="http://127.0.0.1:5500/inserir-email.html" class="esqueceu-a-senha">Esqueceu a senha?</a>
          </div>
          <div class="cadastro1">
            <a>Não tem cadastro?</a>
          <div class="cadastro2">
            <a href="#"></a> Clique aqui</a></div>
          </div>
        </div>  

 <!--------------------------------/Botão Login/--------------------------------->
 <div>
        <button type="submit" class="bnt-login">Login</button>
        <!-- <button type="submit">Entrar</button> -->
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>

</html>