<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="\static\css\inserir-email.css">
  <title>Recuperar a senha</title>
</head>

<body>
    <div class="main-login">
  
   <!--------------------------/Card Sobreposto do Login/-------------------------->
      <div class=" right-login">
        <div class="cadastro">
          <div class="cds"><a href="#">Login</a></div>
          <div class="csd"><a href="#">Cadastrar-se</a></div> 
        </div>
        <h1>Esqueceu a senha? Tudo bem! <br> Complete as informações a seguir</h1>
        <div class="card-login">
          <h1>RECUPERAÇÃO</h1>
           <!--/E-mail/-->
          <form class="textfield">
            <label for="email">Digite seu número de celular</label>
            <input type="tel" id="email" placeholder="(XX) XXXXX-XXXX" required>
      <div>
  
   <!--------------------------------/Botão Login/--------------------------------->
      <div class="botlog"><a href="http://127.0.0.1:5500/recuperar-cod-cel.html" class="recuperar">Enviar código</a>
          <a href="http://127.0.0.1:5500/inserir-email.html" class="outra-forma">Tente de outra forma</a></div>
          <!-- <button type="submit">Entrar</button> -->
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
  
  </html>