{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Registrar
{% endblock %}

{% block conteudo %}

<div id="singin-titulo">
    <h1>Registrar</h1>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div id="secao-singin">
    <form method="post">
        {% csrf_token %}
        <div>
            <label id="singin--usuario-label" for="singin--usuario-input">Usuário:</label>
            <input id="singin--usuario-input" type="text" name='username' required>
        </div>
        <div>
            <label id="singin--nome-label" for="singin--nome-input">Nome:</label>
            <input id="singin--nome-input" type="text" name='name' required>
        </div>
        <div>
            <label id="singin--email-label" for="singin--email-input">E-mail:</label>
            <input id="singin--email-input" type="text" name='email'>
        </div>
        <div>
            <label id="singin--senha-label" for="singin--senha-imput">Senha:</label>
            <input id="singin--senha-imput" type="password" name='password'>
        </div>
        
        <a id="singin--singin-page" href="{% url 'accounts:login' %}">Login</a>
        
        <button id="singin--btn-enviar" type="submit">Entrar</button>
    </form>
</div>
{% endblock %}
