.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 21px;
    list-style: none;
    background-color: #ecf0f1;
    border-radius: 4px
}

.breadcrumb>li {
    display: inline-block
}

.breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #cccccc
}

.form-group {
    margin-bottom: 15px
}


.form-group-lg .form-control {
    height: 66px;
    padding: 18px 27px;
    font-size: 19px;
    line-height: 1.3333333;
    border-radius: 6px
}

.form-group-lg select.form-control {
    height: 66px;
    line-height: 66px
}

.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
    height: auto
}

.form-group-lg .form-control-static {
    height: 66px;
    min-height: 40px;
    padding: 19px 27px;
    font-size: 19px;
    line-height: 1.3333333
}


.form-control:focus {
    border-color: #2c3e50;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(44, 62, 80, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(44, 62, 80, 0.6)
}

.form-control::-moz-placeholder {
    color: #acb6c0;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #acb6c0
}

.form-control::-webkit-input-placeholder {
    color: #acb6c0
}

.form-control::-ms-expand {
    border: 0;
    background-color: transparent
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #ecf0f1;
    opacity: 1
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed
}

textarea.form-control {
    height: auto
}

/* input[type="search"] {
    -webkit-appearance: none
} */

@media screen and (-webkit-min-device-pixel-ratio:0) {

    input[type="date"].form-control,
    input[type="time"].form-control,
    input[type="datetime-local"].form-control,
    input[type="month"].form-control {
        line-height: 45px
    }

    input[type="date"].input-sm,
    input[type="time"].input-sm,
    input[type="datetime-local"].input-sm,
    input[type="month"].input-sm,
    .input-group-sm input[type="date"],
    .input-group-sm input[type="time"],
    .input-group-sm input[type="datetime-local"],
    .input-group-sm input[type="month"] {
        line-height: 35px
    }

    input[type="date"].input-lg,
    input[type="time"].input-lg,
    input[type="datetime-local"].input-lg,
    input[type="month"].input-lg,
    .input-group-lg input[type="date"],
    .input-group-lg input[type="time"],
    .input-group-lg input[type="datetime-local"],
    .input-group-lg input[type="month"] {
        line-height: 66px
    }
}

.navbar-logo{
    max-width: 1.6rem;
    height: auto;
}

/* .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border {
    width: 100%;
    margin: 1em 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.flex-flow-column{
    flex-flow: column nowrap;
}

.flex-flow-row{
    flex-flow: row nowrap;
}

/* .form-control{
    max-width: 40rem;
} */

.login-container{
    /* max-width: rem; */
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/* .fieldset-login{
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 50rem ;
} */

.login-base{
    max-width: 45rem;
}

/* .maxw-20{
    max-width: 10rem;
} */

/* .form-group{
    max-width: 40rem;
} */

.form-imput{
    width: 100%;
}

.index-img{
    width: 100%;
    height: auto;
}
