#header h1{
    margin-bottom: 5px;
}

#header h3{
    margin-top: 0px;
}

#header{
    text-align: center;
}

#secao-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 10px;
    background-color: #ffdead;
    border-radius: 10px;
    height: 150px;
}

#secao-login input{
    margin: 5px;
}




