 .modal {
 	display: none;
 	position: fixed;
 	z-index: 1;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	overflow: auto;
 	background-color: rgba(0, 0, 0, 0.4);
 }

 .modal-content {
 	background-color: #fefefe;
 	margin: 15% auto;
 	padding: 20px;
 	border: 1px solid #888;
 	width: 431px;
 	border-radius: 60px;
 }

 .close {
 	color: #aaa;
 	float: right;
 	font-size: 28px;
 	font-weight: bold;
 }

 .close:hover,
 .close:focus {
 	color: black;
 	text-decoration: none;
 	cursor: pointer;
 }

 .modal--input {
 	display: flex;
	justify-content: center;
 }

 .modal--justin {
 	display: flex;

 }

 .modal--justin-two {
 	display: flex;

 }

 .modal--name {
 	display: flex;
 	border-radius: 75px;
 	border: none;
 	width: 350px;
 	background-color: #D9D9D9;
 }

 .modal--phone {
 	display: flex;
 	border-radius: 75px;
 	border: none;
 	background-color: #D9D9D9;

 }

 .modal--year {
 	display: flex;
 	border-radius: 75px;
 	border: none;
 	background-color: #D9D9D9;
 	margin-left: 10px;
 }

 .modal--submit {
 	display: flex;
 	background-color: green;
 	border: none;
 	border-radius: 75px;
 	margin-left: 300px;
 }

 #modal--teste {
 	text-decoration: none;
 }

 .title-modal-avalion {
 	display: flex;
 	justify-content: center;
 }

 /* ------------------------------------------------------------------- */

 .modal-two {
 	display: none;
 	position: fixed;
 	z-index: 1;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	overflow: auto;
 	background-color: rgba(0, 0, 0, 0.4);
 }

 #modal--teste-two {
 	text-decoration: none;
 }

 .modal-content-two {
 	background-color: #fefefe;
 	margin: 15% auto;
 	padding: 20px;
 	border: 1px solid #888;
 	width: 720px;
 	height: 360px;
 	border-radius: 60px;
 	text-decoration: none;
 }

 .modal--justin-four {
 	display: flex;


 }

 .modal-planos {

 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	background-color: #D6D937;
 	border-radius: 20px;
 	border: none;


 }

 .modal-planos-one {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	background-color: #82539F;
 	border-radius: 20px;
 	border: none;
 	margin-left: 10px;
 	height: 250px;


 }

 .modal-planos-two {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	background-color: #61C8DE;
 	border-radius: 20px;
 	border: none;
 	margin-left: 10px;


 }

 .text-planos {
 	font-size: 12px;
 }

 .close-two {
 	color: #aaa;
 	float: right;
 	font-size: 28px;
 	font-weight: bold;
 }

 .modal--submit-text {
 	display: flex;
 	background-color: green;
 	border: none;
 	border-radius: 75px;
 	margin-top: 40px;

 }

 .modal--submit-text-two {
 	display: flex;
 	background-color: green;
 	border: none;
 	border-radius: 75px;
 	margin-top: 14px;
 }

 .modal--submit-text-three {
 	display: flex;
 	background-color: green;
 	border: none;
 	border-radius: 75px;
 }

 /* __________________________________________________________________________________________ */

 .modal--three {
 	display: none;
 	position: fixed;
 	z-index: 1;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	overflow: auto;
 	background-color: rgba(0, 0, 0, 0.1);
 }

 .modal-content-new-three {
 	background-color: #fefefe;
 	margin: 15% auto;
 	padding: 20px;
 	width: 720px;
 	height: 360px;
 	border-radius: 60px;
 	text-decoration: none;
 }

 .title--modal-informations {
 	display: flex;
 	justify-content: flex-end;
 	margin-right: 190px;
 }

 .modal--information {

 	display: flex;
 	flex-direction: row;
 }

 .modal--information-one {

 	display: flex;
 }

 .text--information-one {
 	font-size: 12px;
 	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
 }

 .text--information-li {
 	color: black;
 	list-style-image: url(assets/icon-park-outline_local-two.png);

 }

 .text--information-li-one {
 	color: black;
 	list-style-image: url(assets/tel.png);
 }

 .text--information-li-two {
 	color: black;
 	list-style-image: url(assets/Horario.png);

 }

 .text--information-li-three {
 	color: black;
 	list-style-image: url(assets/email.png);
 }


 .modal--information-two {

 	display: flex;
 	flex-direction: column;
 	align-items: flex-start;
 }


 .modal--name-two {
 	display: flex;
 	border-radius: 75px;
 	width: 250px;
 	height: 20px;
 	border: none;
 	background-color: #D9D9D9;
 	margin-left: 25px;

 }

 .modal--phone-two {
 	display: flex;
 	border-radius: 75px;
 	border: none;
 	background-color: #D9D9D9;
 	width: 250px;
 	height: 20px;
 	margin-top: -14px;
 	margin-left: 25px;

 }

 .modal--email {
 	display: flex;
 	border-radius: 75px;
 	border: none;
 	background-color: #D9D9D9;
 	width: 250px;
 	height: 20px;
 	margin-top: -14px;
 	margin-left: 25px;
 }

 .text--modal {
 	font-size: 15px;
 	margin-left: 25px;
 }


 .modal--mensagem {
 	display: flex;
 	border-radius: 50px;
 	border: none;
 	width: 360px;
 	background-color: #D9D9D9;
 	height: 111px;
 	margin-left: 14px;
 }

 .close-three {
 	color: #aaa;
 	float: right;
 	font-size: 28px;
 	font-weight: bold;
 }

 .o {
 	background-color: black;
 }

 .modal--submit-three {
 	display: flex;
 	margin-left: auto;
 	margin-top: 4px;
 	background-color: green;
 	border: none;
 	border-radius: 75px;
 }