{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/conta/login.css' %}">

    <title>{% block titulo %} Dente de Leão {% endblock %}</title>
</head>
<body>
    <header id="header">
        <div id="header--nome-clinica">
            <h1>Dente de Leão</h1>
            <h3>Clinica Odontologica</h3>
        </div>
    </header>
{% block conteudo %}{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>