{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">

    <title>{% block titulo %} Dente de Leão {% endblock %}</title>
</head>
<body>
    <main>
        <header id="header">
            <div id="header--nome-clinica">
                <h1 class="nome-clinica">Dente de Leão</h1>
                <h3 class="nome-clinica">Clinica Odontologica</h3>
            </div>
        </header>
        
        <div id="index-redirect">
            <a href="{% url 'index'%}">Voltar ao inicio</a> 
        </div>

        {% block conteudo %}{% endblock %}
        
    </main>
</body>
</html>