{% extends 'base.html' %}

{% block conteudo %}

{% if user.is_authenticated %}
<div id="secao-cadastre-se-login--homepage--logado">
    <h3>bem-vindo, {{ request.user }}.</h1>
    <div>
        <a id="singup-redirect" href="{% url 'accounts:index' %}">Minha Conta</a>
        <a id="logout" href="{% url 'accounts:logout' %}">Sair</a>
        {% if user.is_staff %}
        <a id="cadatro" href="">cadastro-teste</a>
        {% else %}
        <a id="cadatro" href="{% url 'clientes:cliente_cadastro' %}">cadastro</a>
        {% endif %}
    </div>
</div>
{% else %}
<div id="secao-cadastre-se-login--homepage--nao-logado">
    
    <a id="login-redirect" href="{% url 'accounts:login' %}">login</a>
    <a id="singup-redirect" href="{% url 'accounts:singup' %}">Cadastre-se!</a>
</div>
{% endif %}

{% endblock %}