{% extends 'base.html' %}

{% block conteudo %}

{% if user.is_authenticated %}
<div id="secao-cadastre-se-login--homepage--logado">
    <p>bem-vindo, {{ request.user }}.</p>
    <div>
        <ul>
            <li><a id="singup-redirect" href="{% url 'accounts:index' %}">Minha Conta</a></li>
            <li><a id="logout" href="{% url 'accounts:logout' %}">Sair</a></li>
            <li><a id="consultas" href="">Minhas Consultas</a></li>
        </ul>
        {% if user.is_staff %}
        <ul>
            <li><a href="">Agendas</a></li>
            <li><a href="{% url 'funcionarios:funcionario_cadastro'%}">Funcionarios</a></li>
            <li><a href="">Medicos</a></li>
            <li><a href="">Especialidade</a></li>
            {% if user.is_superuser %}
            <li><a href="{% url 'accounts:singup' %}">Cadastrar usuarios</a></li>
            {% endif %}
        {% endif %}
    </div>
</div>
{% else %}
<div id="secao-cadastre-se-login--homepage--nao-logado">
    
    <a id="login-redirect" href="{% url 'accounts:login' %}">login</a>
    <a id="singup-redirect" href="{% url 'accounts:singup' %}">Cadastre-se!</a>
</div>
{% endif %}

{% endblock %}