{% extends "index.html" %}

{% load widget_tweaks %}

{% block title %} Alterar Senha {% endblock %}

{% block conteudo %}
    <h2>Alterar Senha</h2>
    <form  method="post">
        {% csrf_token %}
        <fieldset>
            {% for field in form %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
              <label 
              for="{{ field.auto_id }}"
              class="col-md-3 control-label">
                {{ field.label }}
              </label>
              <div>
                {% render_field field class='form-control' %}
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            <div class="form-group">
              <div>
                <button type="submit">Salvar</button>
              </div>
            </div>
        </fieldset>
    </form>
{% endblock %}